body {
    font-family: Arial, Helvetica, sans-serif;
}

button:hover {
    opacity: 0.8;
}

input {
    width: auto;
    height: auto;
    padding: auto;
    margin: auto;
}

.container {
    padding: 16px;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 3;
    /* Sit on top */
    width: auto;
    /* Full width */
    height: auto;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: auto;
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: auto;
    /* Could be more or less, depending on screen size */
}


/* The Close Button (x) */

.close {
    position: absolute;
    top: 20px;
    right: 25px;
    color: #000;
    font-size: 50px;
    font-weight: bold;
    padding: 5px;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}


/* Add Zoom Animation */

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 500px) {
    span.psw {
        display: block;
        float: none;
    }
}

.li-product-quantity input {
    border: none;
    color: #222555;
    font-size: 14px;
    font-weight: normal;
    border: 1px solid #ededed;
    height: 40px;
    width: 55px;
}

.li-product-quantity>input {
    width: 80px;
    border-radius: 3px;
}

.li-product-quantity>input:focus {
    background: #eceff8;
}

.table-content table td.product-subtotal {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #414141;
}

.table-content table td .cart-plus-minus {
    float: none;
    margin: 0 auto;
}

.coupon-all {
    margin-top: 30px;
}

.coupon {
    float: left;
}

.coupon input {
    background-color: transparent;
    border: 1px solid #ddd;
    color: #333;
    font-size: 13px;
    border-radius: 0;
    height: 42px;
    width: 120px;
}

.coupon-all input.button {
    background-color: #333;
    border: 0 none;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
    height: 42px;
    letter-spacing: 1px;
    line-height: 42px;
    padding: 0 25px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    width: inherit;
}

.coupon-all input.button:hover {
    background: #fed700;
}

.coupon2 {
    float: right;
}

.cart-page-total {
    padding-top: 30px;
}

.cart-page-total>h2 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.cart-page-total>ul {
    border: 1px solid #ddd;
}

.cart-page-total>ul>li {
    list-style: none;
    font-size: 15px;
    color: #252525;
    padding: 10px 30px;
    border-bottom: 1px solid #ebebeb;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.cart-page-total ul>li>span {
    float: right;
}

.cart-page-total li:last-child {
    border-bottom: 0;
}

.cart-page-total>a {
    background-color: #333;
    border: 1px solid #333;
    color: #fff;
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.cart-page-total>a:hover {
    background: #fed700;
    border-color: #fed700;
}


/*Style menu*/

.hm-minicart {
    display: inline-block;
    position: relative;
}

.hm-minicart-trigger {
    border-radius: 2px;
    background: #e80f0f;
    color: #fff;
    height: 45px;
    cursor: pointer;
    display: block;
    position: relative;
    padding: 0 15px 0 55px;
}

.item-icon::before {
    content: "\f291";
    position: absolute;
    font-family: fontawesome;
    left: 10px;
    top: 6px;
    display: block;
    font-size: 20px;
}

.item-text {
    position: relative;
    line-height: 45px;
    font-weight: 500;
}

.item-text::before {
    content: "";
    position: absolute;
    left: -10px;
    height: 22px;
    width: 1px;
    background: rgba(255, 255, 255, .3);
    top: -3px;
}

.cart-item-count {
    position: absolute;
    top: -25px;
    left: -60px;
    display: block;
    overflow: hidden;
    min-width: 26px;
    line-height: 26px;
    font-size: 12px;
    font-weight: 400;
    color: #242424;
    background: #fed700;
    text-align: center;
    border-radius: 100%;
}

.wishlist-item-count {
    top: -10px;
    left: -10px;
}

.minicart {
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 9;
    display: none;
    border: 1px solid #e5e5e5;
    padding: 20px;
    width: 290px;
    background: #ffffff;
    text-align: left;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.minicart .minicart-product-list {
    padding-left: 0;
    margin-bottom: 0;
}

.minicart .minicart-product-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style: none;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0;
    overflow: hidden;
}

.minicart .minicart-product-list li:first-child {
    padding-top: 0;
}

.minicart .minicart-product-list li .minicart-product-image {
    display: inline-block;
    border: 1px solid #e5e5e5;
    position: relative;
    width: 50px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    margin-right: 10px;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.minicart .minicart-product-list li .minicart-product-image:hover {
    border-color: #fed700;
}

.minicart .minicart-product-list li .minicart-product-image span.quantity {
    background: -webkit-gradient(linear, left top, left bottom, from(#626262), to(#2f2f2f));
    background: -webkit-linear-gradient(#626262, #2f2f2f);
    background: -o-linear-gradient(#626262, #2f2f2f);
    background: linear-gradient(#626262, #2f2f2f);
    border-radius: 40px;
    color: #fff;
    font-family: Carrois Gothic, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    left: -10px;
    line-height: 20px;
    overflow: visible;
    position: absolute;
    text-align: center;
    top: -10px;
    width: 20px;
    z-index: 1;
}

.minicart .minicart-product-list li .minicart-product-details {
    -ms-flex-negative: 100;
    flex-shrink: 100;
    width: 100%;
    margin-right: 10px;
}

.minicart .minicart-product-list li .minicart-product-details h6 {
    color: #333333;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin: 0 0 5px;
    text-align: left;
}

.minicart .minicart-product-list li .minicart-product-details h6 a {
    color: #333333;
}

.minicart .minicart-product-list li .minicart-product-details h6 a:hover {
    color: #fed700;
}

.minicart>ul>li>a>img {
    width: 100%;
}

.minicart .minicart-product-list li button.close {
    -webkit-box-flex: 100;
    -ms-flex-positive: 100;
    flex-grow: 100;
    background: none;
    color: #777777;
    display: block;
    font-size: 14px;
    z-index: 1;
}

.minicart .minicart-product-list li button.close:hover {
    color: #fed700;
}

.minicart .minicart-total {
    border: none;
    color: #555555;
    font-size: 14px;
    line-height: 40px;
    margin: 0 0 15px;
    padding: 0 10px;
    text-transform: uppercase;
    width: 100%;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    margin-top: 10px;
}

.minicart .minicart-total span {
    font-size: 18px;
    float: right;
}

.li-button {
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: #fed700;
    color: #ffffff;
    line-height: 50px;
    margin-top: 10px;
    height: 50px;
}

.li-button:hover {
    background: #242424;
    color: #ffffff;
}

.li-button-fullwidth {
    width: 100%;
    display: block;
}

.li-button-dark {
    background: #242424;
    color: #ffffff;
}

.li-button-dark:hover {
    background: #fed700;
    color: #ffffff;
}